@import "./scss/custom"; 
//Here we importing _custom.scss file but we don't need to include underscore.
$theme:   mat-light-theme($primary,$accent,$warn);
@include angular-material-theme($theme);

@import './scss/_variables';
@import './scss/form';

body {
    margin: 0;
}

.app-body {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.header {
    background-color: $primarly-color;
    color: $header-font-color;

    .logo {
        font-size: 24px;
    }
}

table {
    width: 100%;
}

.mat-card {
    .card-header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: rgba(0,0,0,.03);
        border: none;

        h2 {
            margin: 0;
        }
    
        button {
            margin: 0 0 0px 20px;
        }
    }

    .card-body {
        padding: 30px;
    }
}

.mat-dialog-actions {
    margin: 24px 0 0 0 !important;
    padding: 0 !important;
    min-height: auto!important;
}

.positive-snackbar {
    color:                  white;
    background-color:       #009b00;
}

.positive-snackbar mat-icon {
    font-size:          42px;
    width:              42px;
    height:             42px;
    vertical-align:     middle;
}

.warning-snackbar {
    color:                  white;
    background-color:       #9b9b00;
}

.warning-snackbar mat-icon {
    font-size:          42px;
    width:              42px;
    height:             42px;
    vertical-align:     middle;
}

.negative-snackbar {
    color:                  white;
    background-color:       #d32f2f;
}

.negative-snackbar mat-icon {
    font-size:          42px;
    width:              42px;
    height:             42px;
    vertical-align:     middle;
}

.mat-paginator {
    background: unset;
}

.mat-tooltip {
    font-size: 16px;
}

.mat-row.disabled {
    background-color: $disabled-grey-color;
}