.practice-block {
    width: 500px;

    .mat-form-field {
        width: 100%;
    }

    .buttons {
        display: flex;
        justify-content: center;
    }

    .sound-icon {
        margin-top: -5px;
    }
}